<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appID</key>
	<string>dx55a1jb1lx4</string>
	<key>appKey</key>
	<string>28471e67a9894b8a881919632afcaf28</string>
	<key>appHost</key>
	<string>api-jp.kii.com</string>
</dict>
</plist>
